# Prerequisites
*.d
*.cyclo

# Keys
*.pem

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Debug/Core/Src/gpio.cyclo
Debug/Core/Src/main.cyclo
Release
*.cyclo
/Debug
*.cyclo
Debug/Core/Sonictech/Controller/auto_conf.cyclo
/Debug
Debug/Core/Sonictech/Modbus/Src/modbus_master.cyclo
Debug/Core/Sonictech/Modbus/Src/modbus_serial.cyclo

publish_spec.json

Debug

keys.h
private_key.pem
public_key.pem
aes_key.bin
Release
Secrets
ed25519_private_key.pem
ed25519_public_key.pem

/Scripts/__pycache__

sig_private_key.pem

sig_public_key.pem

TouchGFX/generated
